<div *ngIf="currentCourse !== undefined">
  <div class="container">
    <div [ngClass]="rotatingCardClasses">
      <div class="card">
        <!-- TODO:fix top border radius on the profile.. i dont know which div is causing this problem--->
        <div class="front">
          <div class="header">
            <h5 class="motto">{{currentCourse.name}} {{currentCourse.number}}</h5>
          </div>
          <div class="content">
            <div class="main">
              <h3 class="name">
                {{currentCourse.title}}
              </h3>
            </div>
            <div class="cover">
              <img src="{{currentCourse.image}}"/>
            </div>
          </div>
          <div class="footer">
            <button class="btn btn-simple" (click)="rotateCard()">
              <i class="fa fa-mail-forward"></i> View Rating
            </button>
          </div>
        </div> <!-- end front panel -->
        <div class="back">
          <div class="header">
            <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
          </div>
          <div class="footer">
            <button class="btn btn-simple" id="flipButton" rel="tooltip" title="Flip Card" (click)="rotateCard()">
              <i class="fa fa-reply"></i> View Profile
            </button>
          </div>
        </div> <!-- end back panel -->
      </div> <!-- end card -->
    </div> <!-- end card-container -->
  </div>
</div>
