
/*TODO: make all text sizes scalable. (in %)*/
.cardImage{
  width: 100%;
}
.card{
  width: 31%;
  margin: 1%;
  margin-top: 10px;
}
.cardContainer{
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-wrap: wrap;
  width:80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

.footer{
  color: #818a91;
  width:100%;
  background-color: #eceeef;
  padding-top:1%;
}

.footer a{
  color: #0275d8;
  text-decoration: none;
}
